language: objective-c

env:
 global:
  - EnableNuGetPackageRestore=true 
  - MONO_VERSION=3.8.0

before_install:
 - wget "http://download.mono-project.com/archive/${MONO_VERSION}/macos-10-x86/MonoFramework-MDK-${MONO_VERSION}.macos10.xamarin.x86.pkg"
 - sudo installer -pkg "MonoFramework-MDK-${MONO_VERSION}.macos10.xamarin.x86.pkg" -target /MVVMSkeleton

script:
 - nuget restore ./MVVMSkeleton/MVVMSkeleton.sln
 - xbuild ./MVVMSkeleton/MVVMSkeleton.sln /p:Configuration=Debug
