configuration: Debug

# restore NuGet packages before running MSBuild
before_build:
- nuget restore MVVMSkeleton.sln
 - appveyor RegisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password% -Product iOS
 
 on_finish:
 - appveyor UnregisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password%
