configuration: Debug

# restore NuGet packages before running MSBuild
before_build:
- nuget restore MVVMSkeleton\MVVMSkeleton.sln
- appveyor RegisterXamarinLicense MVVMSkeleton\MVVMSkeleton.sln -Email %xamarin_email% -Password %xamarin_password% -Product iOS

build:
 msbuild MVVMSkeleton\MVVMSkeleton.sln
on_finish:
- appveyor UnregisterXamarinLicense MVVMSkeleton\MVVMSkeleton.sln -Email %xamarin_email% -Password %xamarin_password%

