configuration: Debug

# restore NuGet packages before running MSBuild
before_build:
- nuget restore MVVMSkeleton\MVVMSkeleton.sln
- appveyor RegisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password% -Product Android
- appveyor RegisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password% -Product iOS

# package Web Application project for Web Deploy
build:
  project: ./MVVMSkeleton/MVVMSkeleton.sln

on_finish:
- appveyor UnregisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password%

